@import "_variables";
@import "_mixins";

.page {
  &__container {
    display: flex;
  }
}

.sidebar {
  margin-right: 32px;
  max-width: 296px;
  background-color: red
}

.article {
  max-width: 952px;
}

.catalog {
  &__header {
    padding-top: 0;
  }
  &__item {
    grid-column: span 4;
  }
}

.catalog-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 70px;
  &__list {
    display: flex;

  }
  &__item {
    margin-right: 5px;
  }
  &__link {
    padding: 8px 11px;
    color: $colorPrimary;
    line-height: 16px;
    font-weight: 600;
    border: 2px solid $colorPrimary;
    border-radius: 10px;
    transition: color, background-color .3s ease-in-out;
  }
}


@media (min-width: 1024px) {
  .catalog-nav {
    &__link:hover {
      color: $colorWhite;
      background-color: $colorPrimary;
    }
  }
}

//focus active
    .catalog-nav {
      &__link:active {
        color: $colorWhite;
        background-color: $colorPrimaryShade;
      }
      &__link:focus-visible:not(:active) {
        color: $colorWhite;
        background-color: $colorPrimaryLight;
        outline: none;
      }

    }