@import "_variables";
@import "_mixins";
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
  list-style-type: none;
  font-family: "Open sans", sans-serif;
}

button {
  padding: 0;
  margin: 0;
  outline: none;
  box-shadow: none;
  font-size: 18px;
  font-weight: 600;
  font-family: "Open sans", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Open sans", sans-serif;
}

.body {
  display: flex;
}

label {
  display: block;
  cursor: pointer;
}

input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  color: $colorGrey;
}

h2 {
  padding-bottom: 26px;
  font-size: 32px;
  line-height: 32px;
  font-weight: 400;
  color: $colorBlack;
}

h3 {
  font-size: 24px;
  line-height: 31.2px;
  font-weight: 400;
  color: $colorBlack;
}

span,
p {
  font-family: "Open sans", sans-serif;
}

.title-reset {
  margin: 0;
}

.descr-reset {
  margin: 0;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn-reset {
  background-color: transparent;
  cursor: pointer;
  padding: 0px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}

.content-btn {
  display: block;
  color: $colorWhite;
  background-color: $colorPrimary;
  border-radius: 10px;
  border: 2px solid $colorPrimary;
  transition: all 0.3s ease-in-out;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
.section {
  padding-top: 70px;
}

.logo {
  &__img {
    width: 187px;
    height: 27px;
  }
}

.block-desktop {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.block-mobile {
  display: none;
  justify-content: space-between;
  margin-bottom: 20px;
}

.block-clear {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: $colorGreyShade;
}

.block-header {
  font-size: 16px;
  font-weight: 600;
  line-height: 23.5px;
}

.block-filter {
  display: none;
  position: absolute;
  top: -48px;
  right: 36px;

  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: $colorGrey;
  z-index: 1;
}

.block-close {
  &__svg {
    width: 24px;
    height: 24px;
    color: $colorPrimary;
    transition: color, background-color 0.3s ease-in-out;
  }
}


.breadcrumbs {
  padding-top: 25px;
  padding-bottom: 32px;
  &__list {
    display: flex;
  }
  &__item {
    display: inline-block;
    position: relative;
    margin-right: 15px;
  }
  &__item::after {
    content: "/";
    position: absolute;
    top: 0;
    right: -12px;
    color: $colorGrey;
  }
  &__item:last-child::after {
    content: "";
  }
  &__link {
    color: $colorGrey;
  }
  &__span {
    font-size: 14px;
    line-height: 14px;
    color: inherit;
    transition: color 0.3s ease-in-out;
  }
  &__span-active {
    color: $colorPrimaryShade;
  }
}

//убрать крестик у инпута
input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

//убрать стрелки от номера у инпута

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
.swiper-button-next.swiper-button-disabled .special-offers__button-next-svg,
.swiper-button-prev.swiper-button-disabled .special-offers__button-prev-svg {
  border-color: $colorGrey;
  color: $colorGrey;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 1;
}

//hover
@media (min-width: 1024px) {
  .content-btn:hover {
    background-color: $colorPrimaryLight;
    border: 2px solid $colorPrimaryLight;
  }
  .breadcrumbs {
    &__item:hover:not(:last-child) &__span {
      color: $colorPrimary;
    }
  }
}

//active, focus
.content-btn:active {
  background-color: $colorPrimaryShade;
  border: 2px solid $colorPrimaryShade;
}
.content-btn:focus-visible:not(:active) {
  background-color: $colorPrimaryLight;
  border: 2px solid $colorPrimaryShade;
  outline: none;
}

.breadcrumbs {
  &__item:active:not(:last-child) &__span {
    color: $colorPrimaryShade;
  }
  &__link:focus-visible:not(:active) {
    color: $colorPrimaryShade;
    background-color: $colorPinkViolet;
    outline: none;
  }
}

.block-clear:active {
  color: $colorPrimaryShade;
}

.block-clear:focus-visible:not(:active) {
  color: $colorPrimaryShade;
  background-color: $colorPinkViolet;
}

.block-close:active .block-close__svg {
  color: $colorPrimaryShade;
}
.block-close:focus-visible:not(:active) .block-close__svg {
  color: $colorPrimaryShade;
  background-color: $colorPinkViolet;
  outline: none;
}

.block-filter:active {
  color: $colorPrimaryShade;
}
.block-filter:focus-visible:not(:active) {
  color: $colorPrimaryShade;
  background-color: $colorPinkViolet;
  outline: none;
}

// import swiper
@import "../../node_modules/swiper/swiper.scss";
@import "../../node_modules/swiper/modules/pagination/pagination.scss";
@import "../../node_modules/swiper/modules/navigation/navigation.scss";
@import "../../node_modules/swiper/modules/grid/grid.scss";
@import "../../node_modules/swiper/modules/free-mode/free-mode.scss";
@import "../../node_modules/swiper/modules/thumbs/thumbs.scss";

//Ползунок
@import "../../node_modules/nouislider/dist/nouislider";

@media (max-width: 1300px) {
  .container {
    padding-left: 35px;
    padding-right: 35px;
  }
}

@media (max-width: 1024px) {
  .container {
    padding-left: 36px;
    padding-right: 36px;
  }
  .block-desktop {
    display: none;
  }
  .block-mobile {
    display: flex;
  }
  .block-filter {
    display: block;
  }
}

@media (max-width: 768px) {
  .container {
    padding-left: 72px;
    padding-right: 72px;
  }
  .block-filter {
    right: 72px;
  }
}

@media (max-width: 578px) {
  .intro {
    &__content-btn {
      padding: 10px 30px;
    }
  }
}

@media (max-width: 500px) {
  .intro {
    &__content-btn {
      display: none;
    }
  }
  .container {
    padding-left: 12px;
    padding-right: 12px;
  }
  h2 {
    font-size: 24px;
    line-height: 24px;
  }
  button {
    font-size: 16px;
    line-height: 20px;
  }
  .content-btn {
    width: 100%;
  }
  .block-filter {
    right: 12px;
  }
}
