@import "_variables";
@import "_mixins";



.contacts-tab {
  &__form {
    display: flex;
    margin-bottom: 32px;
  }
  &__label {
    margin-right: 32px;
    width: 100%;
  }
  &__input {
    padding-left: 18px;
    width: 100%;
    height: 58px;
    background-color: $colorGreyLight;
    border-radius: 10px;
    border: 2px solid $colorGreyLight;
    font-size: 16px;
    line-height: 19px;
    color: $colorGrey;
    outline: $colorPrimary;
    transition: background-color 0.3s ease-in-out;
  }
  &__input::placeholder {
    font-size: 16px;
    line-height: 40px;
  }
  &__btn {
    padding: 19px 35px;
    font-size: 16px;
    line-height: 16px;
  }
  &__map {
    height: 510px;
    margin-bottom: 70px;
    position: relative;
  }
  &__content {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    display: block;
    width: 343px;
    padding: 30px;
    background-color: $colorWhite;
  }
  &__content::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: $colorWhite transparent transparent transparent;
    transform: translateX(-50%);
  }
  &__header {
    margin-bottom: 7px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
  }
  &__adress {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
  }
  &__info {

    font-size: 14px;
    line-height: 25px;
    color: $colorGrey;
  }
  &__info-bf {
    margin-top: 26px;
    margin-bottom: 22px;
    position: relative;
  }
  &__info-bf::before {
    content: '';
    position: absolute;
    bottom: -13px;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: $colorGreyLight;
  }
  &__info-bf::after {
    content: '';
    position: absolute;
    top: -13px;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: $colorGreyLight;
  }
  &__text {
    font-size: 14px;
    line-height: 25px;
    color: $colorBlack;
  }
}

@media (min-width: 1024px) {
  .contacts-tab {
    &__input:hover {
      background-color: $colorGreyMD;
    }
  }
}

//active, focus
.contacts-tab {
  &__input:active {
    background-color: $colorGreyLight;
    border: 2px solid transparent;
  }
  &__input:focus-visible:not(:active) {
    background-color: $colorPinkLight;
    border: 2px solid $colorPrimary;
    outline: none;
  }
}


@media (max-width: 500px) {
  .contacts-tab {
    &__form {
      flex-direction: column;
    }
    &__label {
      margin-bottom: 20px;
    }
  }
}