@import "_variables";
@import "_mixins";

.contacts {
  margin-bottom: 67px;
  &__header {
    margin-bottom: 10px;
    padding-bottom: 0;
  }
  &__content {
    display: flex;
    justify-content: space-between;
  }
  &__left {
    width: 48%;
  }
  &__right {
    width: 48%;
  }
  &__desc {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 19px;
  }
  &__desc-question {
    width: 14px;
    height: 14px;
    color: $colorSecondary;
  }
  &__item {
    margin-bottom: 30px;
  }
  &__input {
    padding-left: 18px;
    width: 100%;
    max-width: 624px;
    height: 54px;
    border-radius: 10px;
    border: 1px solid $colorGreyLight;
    background-color: $colorGreyLight;
    transition: all .3s ease-in-out;
  }
  &__real-check {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;
  }
  &__real-check:focus + &__custom-check {
    background-color: $colorPrimary;
    border: 1px solid $colorPrimary;
  }
  &__custom-check {
    position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: $colorWhite;
    border: 1px solid $colorGrey;
    border-radius: 2px;
    margin-top: 5px;
    margin-right: 5px;
  }
  &__custom-check::before {
    content: '';
    margin-top: 1px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);

    display: inline-block;
    width: 10px;
    height: 10px;

    background-image: url("../img/check.svg");
    background-size: contain;
    background-repeat: no-repeat;
    transition: all .3s ease-in-out;
  }
  &__real-check:checked + &__custom-check {
    background-color: $colorPrimary;
    border: 1px solid $colorPrimary;
  }
  &__real-check:checked + &__custom-check::before {
    transform: translate(-50%, -50%) scale(1);
  }
  &__checkbox-span {
    text-decoration: underline;
    color: $colorPrimary;
  }
  &__btn-submit {
    margin-bottom: 7px;
  }
  &__btn {
    padding: 14px 33px;
  }
  &__right {
    background-image: url("../img/contacts-img.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

}

//hover
@media (min-width: 1024px) {
  .contacts  {
    &__input:hover {
      background-color: $colorGreyMD;
      border: 1px solid $colorGreyMD;
    }
  }
}

//active, focus
.contacts  {
  &__input:focus:not(:active) {
    background-color: $colorPinkLight;
    border: 1px solid $colorPrimary;
    outline: none;
  }
}

@media (max-width: 1024px) {
  .contacts  {
    padding-top: 73px;
    &__left {
      width: 40%;
    }
    &__btn-submit {
      margin-bottom: 8px;
    }
    &__right {
      background-image: url("../img/contacts-img-1024.png");
    }
  }
}

@media (max-width: 768px) {
  .contacts  {
    &__left {
      width: 60%;
    }
    &__right {
      width: 30%;
    }
    &__right {
      background-image: url("../img/contacts-img-768.png");
    }
  }
}

@media (max-width: 600px) {
  .contacts  {
    &__left {
      width: 100%;
    }
    &__right {
      display: none;
    }
  }
}

@media (max-width: 600px) {
  .contacts {
    margin-bottom: 48px;
    &__desc {
      width: 100%;
    }
  }
}