@import "_variables";
@import "_mixins";

footer {
  background-color: $colorGreyMD;
}

.footer {
  &-container {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
  }
  &__nav {
    display: grid;
    gap: 112px;
    grid-template-columns: repeat(4, 1fr);
  }
  // &__list-item {
  //   margin-bottom: 4px;
  // }
  &__list-link {
    font-size: 14px;
    line-height: 14px;
    color: $colorGrey;
    transition: all .3s ease-in-out;
  }
  &__list-link--title {
    line-height: 16px;
    color: $colorBlack;
  }
  &__span {
    display: block;
    padding: 5px 0;
    text-align: center;
    font-size: 14px;
    line-height: 19px;
    color: $colorGrey;
    background-color: $colorGreyLight;
  }

}

.logo-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.social {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    max-width: 131px;
  }
  &__list-link {
    display: flex;
  }
  &__list-svg {
    width: 33px;
    height: 33px;
    padding: 3px;
  }
  &__list-link svg {
    color: $colorGrey;
    transition: all 0.3s ease-in-out;
  }
}

//hover
@media (min-width: 1024px) {
  .social {
    &__list-link:hover svg {
      color: $colorPrimary;
    }
  }
  .footer {
    &__list-link:hover {
      color: $colorPrimary;
    }
  }
}

//active, focus
.social {
  &__list-link:active svg {
    color: $colorPrimaryShade;
  }
  &__list-link:focus-visible:not(:active) svg {
    color: $colorWhite;
    background-color: $colorPrimaryLight;
  }
  &__list-link:focus-visible:not(:active) {
    outline: none;
  }
}
.footer {
  &__list-link:active {
    color: $colorPrimaryShade;
  }
  &__list-link:focus-visible:not(:active) {
    color: $colorPrimary;
    background-color: $colorPinkViolet;
    outline: none;
  }

}


@media (max-width: 1200px) {
  .footer {
    &__nav {
      gap: 75px;
    }
  }
}

@media (max-width: 1024px) {
  .footer {
    &__nav {
      gap: 32px;
    }
  }

}

@media (max-width: 900px) {
  .footer {
    &-container {
      flex-direction: column;
    }
  }
  .logo-footer {
    flex-direction: row;
    margin-bottom: 25px;
  }

}
@media (max-width: 700px) {
  .footer {
    &__nav {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 500px) {
  .social {
    margin-bottom: 24px;
    &__list {
      margin: 0 auto;
    }
  }
  .logo-footer {
    flex-direction: column;
  }
  .logo {
    &__img {
      margin: 0 auto 24px;
    }
  }

}