@import "_variables";
@import "_mixins";

header {
  background-color: $colorGreyLight;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 18px;
  &__left {
    display: flex;
  }
  &__region {
    display: flex;
    margin-right: 30px;
  }
  &__region-span {
    color: $colorBlack;
    margin-right: 5px;
  }
  &__nav-list {
    display: flex;
  }
  &__nav-item:not(:last-child) {
    margin-right: 64px;
  }
  &__nav-link {
    font-size: 14px;
    line-height: 14px;
    color: $colorGrey;
    transition: all 0.3s ease-in-out;
  }
  &__number {
    font-size: 14px;
    line-height: 14px;
    color: $colorSecondary;
    transition: all 0.3s ease-in-out;
  }
  &__number-phone {
    width: 16.5px;
    height: 16.5px;
    color: $colorSecondary;
    transition: all 0.3s ease-in-out;
  }
}

.region-select {
  position: relative;
  display: flex;
  justify-content: center;
  width: 80px;

  .is-active &__body {
    display: block;
  }
  .is-active &__icon-svg {
    transform: rotate(180deg);
    transition: all 0.3s ease-in-out;
  }
  &__header {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__header &__current,
  &__header &__icon-svg {
    transition: all .3s ease-in-out;
  }
  &__current {
    line-height: 19px;
    margin-right: 5px;
    color: $colorPrimary;
  }
  &__icon-svg {
    color: $colorPrimary;
    width: 13px;
    height: 8px;
  }
  &__body {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid $colorGreyLight;
    background-color: $colorWhite;
    border-top: 0;
    z-index: 1;
  }
  &__item {
    line-height: 19px;
    padding: 8px;
    cursor: pointer;
  }
  &__item:hover {
    background-color: $colorPrimary;
    color: $colorWhite;
    transition: all .3s ease-in-out;
  }
}

//hover
@media (min-width: 1024px) {
  .header {
    &__nav-link:hover {
      color: $colorPrimary;
    }
    &__number:hover {
      color: $colorSecondaryLight;
    }
    &__number:hover &__number-phone {
      color: $colorSecondaryLight;
    }
  }
  .region-select {
    &__header:hover &__current,
    &__header:hover &__icon-svg {
      color: $colorPrimaryLight;
    }
  }
}

//active, focus
.header {
  &__nav-link:active {
    color: $colorPrimaryShade;
  }
  &__nav-link:focus-visible {
    color: $colorPrimary;
    background-color: $colorPinkViolet;
    outline: none;
  }
  &__number:active {
    color: $colorSecondaryShade;
  }
  &__number:active &__number-phone {
    color: $colorSecondaryShade;
  }
  &__number:focus-visible {
    color: $colorSecondary;
    background-color: $colorBone;
    outline: none;
  }
  &__number:focus-visible &__number-phone {
    color: $colorSecondary;
  }
}

.region-select {
  &__header:active &__current,
  &__header:active &__icon-svg {
    color: $colorPrimaryShade;
  }
  &__header:focus-visible &__current,
  &__header:focus-visible &__icon-svg {
    color: $colorPrimaryShade;
  }
  &__header:focus-visible {
    background-color: $colorPinkViolet;
    outline: none;
  }
}
