@import "_variables";
@import "_mixins";

.header {
  background-color: $colorGreyLight;
}

.header-first {
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 18px;
  &__left {
    display: flex;
  }
  &__region {
    margin-right: 30px;
  }
  &__span {
    color: $colorBlack;
  }
  &__nav-list {
    display: flex;
  }
  &__nav-item:not(:last-child) {
    margin-right: 64px;
  }
  &__nav-link {
    font-size: 14px;
    line-height: 14px;
    color: $colorGrey;
    transition: all 0.3s ease-in-out;
  }
  &__number {
    font-size: 14px;
    line-height: 14px;
    color: $colorSecondary;
    transition: all 0.3s ease-in-out;
  }
  &__number-phone {
    width: 16.5px;
    height: 16.5px;
    color: $colorSecondary;
    transition: all 0.3s ease-in-out;
  }
}

.header-second {
  &__search-icon {
    width: 20px;
    height: 20px;
    color: $colorGrey;
  }
}

//hover
@media (min-width: 1024px) {
  .header-first {
    &__nav-link:hover {
      color: $colorPrimary;
    }
    &__number:hover {
      color: $colorSecondaryLight;
    }
    &__number:hover &__number-phone {
      color: $colorSecondaryLight;
    }
  }
}

//active, focus
.header-first {
  &__nav-link:active {
    color: $colorPrimaryShade;
  }
  &__nav-link:focus-visible {
    color: $colorPrimary;
    background-color: $colorPinkViolet;
    outline: none;
  }
  &__number:active {
    color: $colorSecondaryShade;
  }
  &__number:active &__number-phone {
    color: $colorSecondaryShade;
  }
  &__number:focus-visible {
    color: $colorSecondary;
    background-color: $colorBone;
    outline: none;
  }
  &__number:focus-visible &__number-phone {
    color: $colorSecondary;
  }
}
