@import "_variables";
@import "_mixins";



.intro {
  padding-top: 32px;
  &__swiper {
    width: 100%;
    height: 100%;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  &__btn-prev, &__btn-next {
    display: none;
  }
  &__swiper .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    line-height: 20;
    font-size: 14px;
    background-color: $colorBlack;
  }
  &__slide {
    min-height: 400px;
    height: auto;
  }
  &__container {
    margin-top: 86px;
    margin-bottom: 77px;
  }
  &__content {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 11;
  }
  &__content-btn {
    padding: 20px 54px;
  }
  &__content-title {
    margin-top: 50px;
    margin-bottom: 44px;
    max-width: 504px;
    font-size: 50px;
    line-height: 65px;
    font-weight: 700;
    color: $colorGrey;
  }
  &__content-title-slide-3 {
    color: $colorWhite;
    max-width: 600px;

  }
  &__content-btn-two {
    display: none;
  }
  &__pagination {
    bottom: 20px !important;
  }
}
@media (max-width: 768px) {
  .intro {
    &__container {
      padding-left: 72px;
      padding-right: 72px;
      margin-bottom: 74px;
    }
  }
}


@media (max-width: 710px) {
  .intro {
    &__content-title {
      font-size: 36px;
      line-height: 40px;
    }
  }
}

@media (max-width: 578px) {
  .intro {
    &__container {
      margin-top: 30px;
    }

    &__pagination {
      display: none;
    }
  }
}

@media (max-width: 500px) {
  .intro {
    margin-top: 40px;
    &__container {
      padding-left: 25px;
      padding-right: 25px;
    }
    &__content-title {
      font-size: 20px;
      line-height: 27px;
      margin-top: 0;
    }
    &__content-btn-two {
      display: block;
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 22px 104px;
      width: 100%;
    }
    &__slide {
      min-height: 210px;
    }
  }
}



