$colorBlack: #333;
$colorWhite: #FFF;
$colorGrey: #999;
$colorGreyLight: #F6F6F6;
$colorGreyMD: #EAEAEA;
$colorGreyShade: #666;
$colorPrimary: #A65CF0;
$colorPinkViolet: #EBD1FF;
$colorPinkLight: #F8EFFF;
$colorPrimaryLight: #C998FB;
$colorPrimaryShade: #7033AC;
$colorSecondary: #FF862F;
$colorSecondaryShade: #BB370E;
$colorSecondaryLight: #FFBD59;
$colorGold: #D5B986;
$colorBone: #FFF5D1;
$colorPinkLight: #F8EFFF;







