@font-face {
  font-family: "Open sans";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open sans";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open sans";
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
  list-style-type: none;
  font-family: "Open sans", sans-serif;
}

button {
  padding: 0;
  margin: 0;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 18px;
  font-weight: 600;
  font-family: "Open sans", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Open sans", sans-serif;
}

label {
  display: block;
  cursor: pointer;
}

input::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  color: #999;
}

input:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  color: #999;
}

input::-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  color: #999;
}

input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  color: #999;
}

h2 {
  font-size: 48px;
  font-weight: 700;
}

h3 {
  margin-top: 0;
  margin-bottom: 26px;
  font-size: 32px;
  line-height: 32px;
  font-weight: 400;
  color: #333;
}

h4 {
  font-size: 24px;
  line-height: 31.2px;
  font-weight: 400;
  color: #333;
}

span, p {
  font-family: "Open sans", sans-serif;
}

.title-reset {
  margin: 0;
}

.descr-reset {
  margin: 0;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn-reset {
  background-color: transparent;
  cursor: pointer;
  padding: 0px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  -o-border-image: initial;
     border-image: initial;
}

.content-btn {
  display: block;
  color: #FFF;
  background-color: #A65CF0;
  border-radius: 10px;
  border: 2px solid #A65CF0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.section {
  margin-top: 70px;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

@media (min-width: 1024px) {
  .content-btn:hover {
    background-color: #C998FB;
    border: 2px solid #C998FB;
  }
}

.content-btn:focus {
  background-color: #C998FB;
  border: 2px solid #7033AC;
  outline: none;
}

.content-btn:active {
  background-color: #7033AC;
  border: 2px solid #7033AC;
}

@font-face {
  font-family: 'swiper-icons';
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --swiper-theme-color: #007aff;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-pointer-events {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-pointer-events.swiper-vertical {
  -ms-touch-action: pan-x;
      touch-action: pan-x;
}

.swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}

.swiper-backface-hidden .swiper-slide {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

/* 3D Effects */
.swiper-3d,
.swiper-3d.swiper-css-mode .swiper-wrapper {
  -webkit-perspective: 1200px;
          perspective: 1200px;
}

.swiper-3d .swiper-wrapper,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* CSS Mode */
.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

.swiper-centered > .swiper-wrapper::before {
  content: '';
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-ordinal-group: 10000;
      -ms-flex-order: 9999;
          order: 9999;
}

.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-start: var(--swiper-centered-offset-before);
          margin-inline-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  width: var(--swiper-centered-offset-after);
}

.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-before: var(--swiper-centered-offset-before);
          margin-block-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  height: var(--swiper-centered-offset-after);
}

.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
}

:root {
  /*
  --swiper-pagination-color: var(--swiper-theme-color);
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
  */
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms opacity;
  transition: 300ms opacity;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}

/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 10px;
  left: 0;
  width: 100%;
}

/* Bullets */
.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transform: scale(0.33);
          transform: scale(0.33);
  position: relative;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  -webkit-transform: scale(0.66);
          transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  -webkit-transform: scale(0.33);
          transform: scale(0.33);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  -webkit-transform: scale(0.66);
          transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  -webkit-transform: scale(0.33);
          transform: scale(0.33);
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
  display: inline-block;
  border-radius: 50%;
  background: var(--swiper-pagination-bullet-inactive-color, #000);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
}

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination-bullet:only-child {
  display: none !important;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
}

.swiper-vertical > .swiper-pagination-bullets,
.swiper-pagination-vertical.swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
          transform: translate3d(0px, -50%, 0);
}

.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: var(--swiper-pagination-bullet-vertical-gap, 6px) 0;
  display: block;
}

.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 8px;
}

.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  -webkit-transition: 200ms top, 200ms -webkit-transform;
  transition: 200ms top, 200ms -webkit-transform;
  transition: 200ms transform, 200ms top;
  transition: 200ms transform, 200ms top, 200ms -webkit-transform;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  white-space: nowrap;
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transition: 200ms left, 200ms -webkit-transform;
  transition: 200ms left, 200ms -webkit-transform;
  transition: 200ms transform, 200ms left;
  transition: 200ms transform, 200ms left, 200ms -webkit-transform;
}

.swiper-horizontal.swiper-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transition: 200ms right, 200ms -webkit-transform;
  transition: 200ms right, 200ms -webkit-transform;
  transition: 200ms transform, 200ms right;
  transition: 200ms transform, 200ms right, 200ms -webkit-transform;
}

/* Progress */
.swiper-pagination-progressbar {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

.swiper-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  -webkit-transform-origin: right top;
          transform-origin: right top;
}

.swiper-horizontal > .swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite, .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
}

.swiper-vertical > .swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-vertical,
.swiper-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite, .swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
}

.swiper-pagination-lock {
  display: none;
}

:root {
  --swiper-navigation-size: 44px;
  /*
  --swiper-navigation-color: var(--swiper-theme-color);
  */
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 10px;
  right: auto;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: 'prev';
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 10px;
  left: auto;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: 'next';
}

.swiper-button-lock {
  display: none;
}

@media (max-width: 1300px) {
  .container {
    padding-left: 35px;
    padding-right: 35px;
  }
}

@media (max-width: 1024px) {
  .container {
    padding-left: 36px;
    padding-right: 36px;
  }
}

@media (max-width: 768px) {
  .container {
    padding-left: 72px;
    padding-right: 72px;
  }
}

@media (max-width: 578px) {
  .intro__content-btn {
    padding: 10px 30px;
  }
}

@media (max-width: 500px) {
  .intro__content-btn {
    display: none;
  }
  .container {
    padding-left: 12px;
    padding-right: 12px;
  }
  h3 {
    font-size: 24px;
    line-height: 24px;
  }
  button {
    font-size: 16px;
    line-height: 20px;
  }
  .content-btn {
    width: 100%;
  }
}

.header-1920 {
  display: block;
}

.header-1024 {
  display: none;
}

.header-768 {
  display: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__one {
  background-color: #F6F6F6;
  margin-bottom: 32px;
}

.header__one-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 12px;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__region {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
}

.header__region-span {
  color: #333;
  margin-right: 5px;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-item:not(:last-child) {
  margin-right: 75px;
}

.header__nav-link {
  font-size: 14px;
  line-height: 14px;
  color: #999;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header__number {
  font-size: 14px;
  line-height: 14px;
  color: #FF862F;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header__number-phone {
  width: 16.5px;
  height: 16.5px;
  color: #FF862F;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header__two {
  margin-bottom: 32px;
}

.header__two-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__two-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__two-list-item:not(:last-child) {
  margin-right: 98px;
}

.header__two-list-link {
  line-height: 21px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header__three-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__three-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1061px;
}

.header__three-form {
  position: relative;
  width: 100%;
}

.header__three-search-icon {
  position: absolute;
  top: 31%;
  left: 4%;
  z-index: 1;
  width: 20px;
  height: 20px;
  color: #999;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.header__three-search {
  padding-left: 59px;
  width: 100%;
  height: 56px;
  background-color: #F6F6F6;
  border: 2px solid #F6F6F6;
  border-radius: 10px 0 0 10px;
  font-size: 16px;
  line-height: 19px;
  color: #999;
}

.header__three-search::-webkit-input-placeholder {
  font-size: 16px;
  color: #999;
}

.header__three-search:-ms-input-placeholder {
  font-size: 16px;
  color: #999;
}

.header__three-search::-ms-input-placeholder {
  font-size: 16px;
  color: #999;
}

.header__three-search::placeholder {
  font-size: 16px;
  color: #999;
}

.header__three-arrow-btn {
  position: absolute;
  top: 12px;
  right: 32px;
  z-index: 1;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.header__three-arrow-input {
  width: 32px;
  height: 32px;
  color: #A65CF0;
}

.header__three-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__three-btn:not(:last-child) {
  margin-right: 32px;
}

.header__three-btn-user {
  padding: 1px;
  width: 26px;
  height: 28px;
  color: #A65CF0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header__three-btn-shopping-cart {
  padding: 1px;
  width: 41px;
  height: 28px;
  color: #A65CF0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header__select {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  height: 100%;
}

.header__select-btn {
  padding: 0 32px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #F6F6F6;
  border-radius: 0 10px 10px 0;
  background-color: #FFF;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header__select-current {
  line-height: 19px;
  margin-right: 5px;
  color: #A65CF0;
}

.header__select-icon-svg {
  color: #A65CF0;
  width: 13px;
  height: 8px;
}

.header__select-body {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #FFF;
  border-top: 0;
  z-index: 11;
}

.is-active .header__select-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.is-active .header__select-header {
  border: 2px solid #A65CF0;
}

.is-active .header__select-icon-svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header__select-item {
  display: block;
  width: 50%;
  line-height: 19px;
  padding: 10px 30px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header__select-item:hover {
  background-color: #A65CF0;
  color: #FFF;
}

.region-select {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80px;
}

.is-active .region-select__body {
  display: block;
}

.is-active .region-select__icon-svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.region-select__header {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.region-select__header .region-select__current,
.region-select__header .region-select__icon-svg {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.region-select__current {
  line-height: 19px;
  margin-right: 5px;
  color: #A65CF0;
}

.region-select__icon-svg {
  color: #A65CF0;
  width: 13px;
  height: 8px;
}

.region-select__body {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #F6F6F6;
  background-color: #FFF;
  border-top: 0;
  z-index: 1;
}

.region-select__item {
  line-height: 19px;
  padding: 8px;
  cursor: pointer;
}

.region-select__item:hover {
  background-color: #A65CF0;
  color: #FFF;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

@media (min-width: 1024px) {
  .header__nav-link:hover {
    color: #A65CF0;
  }
  .header__number:hover {
    color: #FFBD59;
  }
  .header__number:hover .header__number-phone {
    color: #FFBD59;
  }
  .header__two-list-link:hover {
    color: #A65CF0;
  }
  .header__three-btn:hover .header__three-btn-user,
  .header__three-btn:hover .header__three-btn-shopping-cart {
    color: #C998FB;
  }
  .header__select-btn:hover {
    border: 2px solid #A65CF0;
  }
  .header__three-arrow-btn:hover {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  .header__three-arrow-btn:hover .header__three-arrow-input {
    color: #C998FB;
  }
  .region-select__header:hover .region-select__current,
  .region-select__header:hover .region-select__icon-svg {
    color: #C998FB;
  }
}

.header__nav-link:active {
  color: #7033AC;
}

.header__nav-link:focus-visible {
  color: #A65CF0;
  background-color: #EBD1FF;
  outline: none;
}

.header__number:active {
  color: #BB370E;
}

.header__number:active .header__number-phone {
  color: #BB370E;
}

.header__number:focus-visible {
  color: #FF862F;
  background-color: #FFF5D1;
  outline: none;
}

.header__number:focus-visible .header__number-phone {
  color: #FF862F;
}

.header__two-list-link:active {
  color: #7033AC;
}

.header__two-list-link:focus-visible {
  color: #A65CF0;
  background-color: #EBD1FF;
  outline: none;
}

.header__three-btn:active .header__three-btn-user,
.header__three-btn:active .header__three-btn-shopping-cart {
  color: #7033AC;
}

.header__three-btn:focus-visible .header__three-btn-user,
.header__three-btn:focus-visible .header__three-btn-shopping-cart {
  color: #FFF;
  background-color: #C998FB;
}

.header__three-form:active .header__three-search-icon {
  color: #A65CF0;
}

.header__three-form .header__three-search:focus {
  background-color: #F8EFFF;
  border: 2px solid #A65CF0;
  outline: none;
}

.header__three-form .header__three-search:active {
  background-color: #F6F6F6;
  border: 2px solid transparent;
}

.header__select-btn:active {
  border: 2px solid #7033AC;
}

.header__select-btn:focus-visible {
  border: 2px solid #A65CF0;
  background-color: #EBD1FF;
  outline: none;
}

.header__three-arrow-btn:active {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.header__three-arrow-btn:active .header__three-arrow-input {
  color: #7033AC;
}

.header__three-arrow-btn:focus-visible .header__three-arrow-input {
  color: #7033AC;
}

.region-select__header:active .region-select__current,
.region-select__header:active .region-select__icon-svg {
  color: #7033AC;
}

.region-select__header:focus-visible .region-select__current,
.region-select__header:focus-visible .region-select__icon-svg {
  color: #7033AC;
}

.region-select__header:focus-visible {
  background-color: #EBD1FF;
  outline: none;
}

@media (max-width: 1260px) {
  .header__region {
    margin-right: 10px;
  }
  .header__nav-item:not(:last-child) {
    margin-right: 25px;
  }
  .header__two-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .header__three-left {
    max-width: 800px;
  }
  .logo {
    margin-right: 32px;
  }
}

@media (max-width: 1024px) {
  .header-1920 {
    display: none;
  }
  .header-1024 {
    display: block;
  }
  .header__left {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__one {
    margin-bottom: 0;
    background-color: #FFF;
  }
  .header__one-container {
    padding-top: 21px;
    padding-bottom: 14px;
  }
  .header__two-list-item:not(:last-child) {
    margin-right: 41px;
  }
  .header__three-left {
    max-width: 962px;
  }
  .header__four {
    margin-bottom: 32px;
    background-color: #F6F6F6;
  }
  .header__four-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 976px) {
  .header__two-list {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__nav-item:not(:last-child) {
    margin-right: 15px;
  }
  .logo-1024 {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .header-1024 {
    display: none;
  }
  .header-768 {
    display: block;
  }
  .header__one-container {
    padding-top: 18px;
    padding-bottom: 14px;
  }
  .header__two {
    margin-bottom: 29px;
  }
  .header__two-container {
    position: relative;
  }
  .header__four-container {
    padding-top: 18px;
    padding-bottom: 16px;
  }
  .header__right {
    width: 100%;
  }
  .header__right-320 {
    display: none;
  }
  .header__nav-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__burger-menu {
    padding-left: 72px;
    padding-right: 72px;
    padding-bottom: 50px;
    display: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    max-height: 262px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    background-color: #FFF;
  }
  .header__burger-menu.open {
    display: block;
  }
  .header__two-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .header__two-list-item {
    margin-bottom: 41px;
  }
  .header__two-list-item:first-child {
    margin-bottom: 32px;
  }
  .header__two-list-item:nth-child(5) {
    visibility: hidden;
  }
  .header__two-list-item:nth-child(4n) {
    margin-bottom: 0;
  }
  .burger {
    outline: none;
  }
  .burger__svg {
    width: 24px;
    height: 24px;
    color: #A65CF0;
  }
  .burger-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .burger-img__svg {
    width: 161px;
    height: 112px;
  }
  .burger__svg:active {
    color: #7033AC;
  }
  .burger:focus-visible .burger__svg {
    color: #7033AC;
  }
  .logo__768 {
    display: none !important;
    text-align: start !important;
  }
}

@media (max-width: 710px) {
  .header__one {
    margin-bottom: 32px;
  }
  .header__four {
    display: none;
  }
  .header__nav-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header__three-form {
    width: 60%;
  }
  .header__custom-select {
    width: 40%;
  }
  .header__select {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .header__right-320 {
    display: block;
  }
  .header__three-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__three-form {
    width: 100%;
  }
  .header__three-search {
    border-radius: 10px;
    margin-bottom: 16px;
  }
  .header__custom-select {
    width: 100%;
  }
  .header__select {
    width: 100%;
  }
  .header__select-btn {
    padding-top: 19px;
    padding-bottom: 19px;
    border-radius: 10px;
  }
  .header__three-search-icon {
    top: 25%;
  }
  .header__burger-menu {
    padding-left: 72px;
    padding-right: 72px;
    max-height: 520px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__two-list-item:nth-child(5) {
    display: none;
  }
  .header__two-list-item:nth-child(4n) {
    margin-bottom: 41px;
  }
  .header__nav-item:not(:last-child) {
    margin-right: 0;
  }
  .header__nav-item {
    width: 100%;
  }
  .burger-img {
    display: none;
  }
}

@media (max-width: 500px) {
  .header__one {
    margin-bottom: 11px;
  }
  .header__two {
    margin-bottom: 25px;
  }
  .header-container {
    padding-left: 25px;
    padding-right: 25px;
  }
  .header__left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__region {
    margin-bottom: 16px;
  }
  .header__nav-item {
    width: 50%;
  }
  .header__burger-menu {
    padding-left: 25px;
    padding-right: 25px;
  }
  .logo-320 {
    display: none !important;
  }
}

@media (max-width: 375px) {
  .header-container {
    padding-left: 12px;
    padding-right: 12px;
  }
  .header__one-container {
    padding-top: 10px;
  }
  .header__burger-menu {
    padding-left: 12px;
    padding-right: 12px;
  }
  .logo__img {
    display: block !important;
    margin: 0 auto;
  }
  .logo__768 {
    display: block !important;
  }
}

.intro {
  margin-top: 32px;
}

.intro__swiper {
  width: 100%;
  height: 100%;
}

.intro__img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.intro__btn-prev, .intro__btn-next {
  display: none;
}

.intro__swiper .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  line-height: 20;
  font-size: 14px;
  background-color: #333;
}

.intro__slide {
  min-height: 400px;
}

.intro__container {
  margin-top: 86px;
  margin-bottom: 77px;
}

.intro__content {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 11;
}

.intro__content-btn {
  padding: 20px 54px;
}

.intro__content-title {
  margin-top: 50px;
  margin-bottom: 44px;
  max-width: 504px;
  font-size: 50px;
  line-height: 65px;
  color: #999;
}

.intro__content-title-slide-3 {
  color: #FFF;
  max-width: 600px;
}

.intro__content-btn-two {
  display: none;
}

.intro__pagination {
  bottom: 20px !important;
}

@media (max-width: 768px) {
  .intro__container {
    padding-left: 72px;
    padding-right: 72px;
    margin-bottom: 74px;
  }
}

@media (max-width: 710px) {
  .intro__content-title {
    font-size: 36px;
    line-height: 40px;
  }
}

@media (max-width: 578px) {
  .intro__container {
    margin-top: 30px;
  }
  .intro__pagination {
    display: none;
  }
}

@media (max-width: 500px) {
  .intro {
    margin-top: 40px;
  }
  .intro__container {
    padding-left: 25px;
    padding-right: 25px;
  }
  .intro__content-title {
    font-size: 20px;
    line-height: 27px;
    margin-top: 0;
  }
  .intro__content-btn-two {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 22px 104px;
    width: 100%;
  }
  .intro__slide {
    min-height: 210px;
  }
}

.special-offers__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.special-offers__swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.special-offers__discount {
  position: absolute;
  top: 30px;
  left: 0;
}

.special-offers__discount-container {
  position: relative;
}

.special-offers__discount-arrow {
  width: 92px;
  height: 34px;
}

.special-offers__discount-number {
  position: absolute;
  top: 20%;
  left: 20%;
  font-size: 14px;
  color: #FFF;
}

.special-offers__slide {
  position: relative;
  padding: 30px;
  min-height: 511px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #F6F6F6;
  border-radius: 10px;
}

.special-offers__slide-small {
  padding-top: 72px;
}

.special-offers__slide-big {
  padding-top: 37px;
}

.special-offers__button-nav {
  display: block;
  position: absolute;
  top: 27.5%;
  right: 85px;
}

.special-offers__button-prev {
  width: 32px;
  right: 10px;
}

.special-offers__button-next {
  width: 32px;
  left: 50px;
}

.special-offers__button-prev-svg, .special-offers__button-next-svg {
  width: 32px;
  height: 32px;
  color: #A65CF0;
}

.special-offers__img {
  display: block;
  margin: 0 auto 16px;
}

.special-offers__img-small {
  max-height: 210px;
}

.special-offers__price-objects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.special-offers__price {
  margin-bottom: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.special-offers__discount-price {
  margin-right: 30px;
  font-size: 18px;
  line-height: 23.4px;
  color: #FF862F;
}

.special-offers__starting-price {
  text-decoration: line-through;
  color: #999;
}

.special-offers__btn {
  display: block;
}

.special-offers__btn-click {
  padding: 19px 35px;
  border: 2px solid #A65CF0;
  border-radius: 10px;
  color: #A65CF0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  line-height: 16px;
}

.special-offers__price-img-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.special-offers__rating-container {
  display: -ms-grid;
  display: grid;
  gap: 32px;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.special-offers__header-raiting {
  margin-top: 70px;
}

.special-offers__rating-item {
  grid-column: span 3;
  min-height: 420px;
}

.special-offers__rating-goods {
  position: absolute;
  top: 30px;
  left: 30px;
}

.special-offers__rating-goods-container {
  position: relative;
}

.special-offers__rating-goods-number {
  font-size: 16px;
  color: #FF862F;
}

.special-offers__common-price {
  color: #999;
  margin-bottom: 24px;
}

.special-offers__rating-goods-svg {
  width: 15px;
  height: 15px;
}

.special-offers__btn-container {
  margin-top: 19px;
}

.special-offers__btn-goods-click {
  margin: 0 auto;
  padding: 19px 37px;
}

.special-offers__img-rating {
  margin-top: 59px;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 1;
}

.swiper-button-prev.swiper-button-disabled .special-offers__button-prev-svg,
.swiper-button-next.swiper-button-disabled .special-offers__button-next-svg {
  color: #999;
}

@media (min-width: 1024px) {
  .special-offers__btn-click:hover {
    background-color: #A65CF0;
    border: 2px solid #A65CF0;
    color: #FFF;
  }
  .special-offers__button-next-svg:hover {
    color: red;
  }
}

.special-offers__btn-click:focus {
  background-color: #C998FB;
  border: 2px solid #A65CF0;
  color: #FFF;
}

.special-offers__btn-click:active {
  background-color: #7033AC;
  border: 2px solid #7033AC;
  color: #FFF;
}

@media (min-width: 1330px) {
  .special-offers__slide-small {
    width: 23% !important;
  }
  .special-offers__slide-big {
    width: 49% !important;
  }
}

@media (max-width: 1330px) {
  .special-offers__price-img-open {
    display: none;
  }
  .special-offers__img-big {
    margin-top: 26px;
  }
}

@media (max-width: 1024px) {
  .special-offers__rating-container {
    -ms-grid-columns: (1fr)[9];
        grid-template-columns: repeat(9, 1fr);
    max-height: 880px;
    overflow: hidden;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .special-offers__rating-container-open {
    max-height: 1338px;
  }
}

@media (max-width: 768px) {
  .special-offers__rating-container {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    max-height: 1330px;
  }
  .special-offers__rating-container-open {
    max-height: 1800px;
  }
}

@media (max-width: 639px) {
  .special-offers__rating-container {
    gap: 16px;
  }
  .special-offers__swiper {
    padding-bottom: 82px;
  }
  .special-offers__slide {
    min-height: 508px;
  }
  .special-offers__header {
    font-size: 24px;
  }
  .special-offers__rating-item {
    min-height: 278px;
    padding: 16px;
  }
  .special-offers__btn-raiting {
    padding: 10px 25px;
  }
}

@media (max-width: 560px) {
  .special-offers__title {
    font-size: 16px;
    line-height: 20px;
  }
  .special-offers__button-nav {
    top: 616px;
    left: 36%;
  }
}

@media (max-width: 425px) {
  .special-offers__rating-item {
    min-height: 277px;
  }
  .special-offers__img-rating {
    margin-top: 35px;
  }
  .special-offers__rating-container {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    max-height: 873px;
  }
  .special-offers__rating-container-open {
    max-height: 1300px;
  }
}

@media (max-width: 320px) {
  .special-offers__swiper {
    padding-bottom: 51px;
  }
}

.new-collection__content {
  padding-top: 158px;
  padding-bottom: 150px;
  background-image: url("../img/new-collection-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.new-collection__title {
  font-size: 60px;
  line-height: 72px;
  color: #D5B986;
}

.new-collection__descr {
  font-size: 48px;
  line-height: 57px;
  color: #FFF;
  margin-bottom: 43px;
}

.new-collection__btn {
  padding: 18px 31px;
}

.new-collection__btn-two {
  display: none;
  padding-left: 32px;
  padding-right: 32px;
}

@media (max-width: 1024px) {
  .new-collection__content {
    padding-bottom: 147px;
    background-image: url("../img/new-collection-bg-1024.jpg");
  }
}

@media (max-width: 768px) {
  .new-collection__content {
    background-image: url("../img/new-collection-bg-768.jpg");
  }
}

@media (max-width: 530px) {
  .new-collection__content {
    padding-top: 30px;
    padding-bottom: 67px;
    background-image: url("../img/new-collection-bg-320.jpg");
  }
  .new-collection__title {
    font-size: 24px;
    line-height: 31px;
  }
  .new-collection__descr {
    font-size: 16px;
    line-height: 19px;
  }
  .new-collection__btn {
    display: none;
  }
  .new-collection__btn-two {
    margin-top: 32px;
    padding-top: 19px;
    padding-bottom: 18px;
    display: block;
  }
}

.top-category__top-container {
  margin-bottom: 70px;
}

.top-category__grid-container {
  display: -ms-grid;
  display: grid;
  gap: 32px;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.top-category__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
  background-color: #F6F6F6;
  border-radius: 10px;
}

.top-category__item-up {
  grid-column: span 6;
  min-height: 511px;
}

.top-category__item-down {
  max-height: 405px;
  grid-column: span 4;
}

.top-category__span-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 14px;
}

.top-category__span {
  margin-top: 5px;
  font-size: 14px;
  line-height: 14px;
  color: #999;
}

.top-category__span:not(:last-child) {
  margin-right: 30px;
}

.top-category__title {
  margin-bottom: 30px;
}

.top-category__img {
  max-width: 515px;
  margin-left: -28px;
}

.top-category__img-small {
  max-width: 300px;
}

.top-category__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #A65CF0;
  font-weight: 700;
}

.top-category__button-svg {
  margin-left: 5px;
  width: 22px;
  height: 22px;
  color: #A65CF0;
}

.top-category__button-prev {
  width: 32px;
  right: 10px;
}

.top-category__button-next {
  width: 32px;
  left: 50px;
}

.top-category__slide {
  max-height: 676px;
}

.top-category__slide-desc {
  background-color: #F6F6F6;
  border-radius: 10px;
}

.top-category__slide-content {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 250px;
}

.top-category__slide-p {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 33px;
}

.top-category__slide-btn {
  padding: 19px 35px;
  border: 2px solid #A65CF0;
  border-radius: 10px;
  color: #A65CF0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  line-height: 16px;
}

.top-category__useful-nav {
  top: 31%;
  right: 85px;
  left: auto;
}

@media (min-width: 1024px) {
  .top-category__slide-btn:hover {
    background-color: #A65CF0;
    border: 2px solid #A65CF0;
    color: #FFF;
  }
}

.top-category__slide-btn:focus {
  background-color: #C998FB;
  border: 2px solid #A65CF0;
  color: #FFF;
}

.top-category__slide-btn:active {
  background-color: #7033AC;
  border: 2px solid #7033AC;
  color: #FFF;
}

@media (max-width: 1024px) {
  .top-category__grid-container {
    -ms-grid-columns: (1fr)[9];
        grid-template-columns: repeat(9, 1fr);
  }
  .top-category__item-up {
    grid-column: span 3;
  }
  .top-category__item-down {
    grid-column: span 3;
    max-height: 511px;
  }
  .top-category__item-up-big {
    grid-column: span 6;
  }
  .top-category__item-up-small {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .top-category__slide-p {
    font-size: 16px;
    line-height: 21.79px;
  }
}

@media (max-width: 768px) {
  .top-category__grid-container {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
  .top-category__item {
    min-height: 511px;
  }
  .top-category__item-up {
    grid-column: span 3;
  }
  .top-category__item-down {
    grid-column: span 3;
  }
  .top-category__item-up-big {
    grid-column: span 6;
  }
}

@media (max-width: 630px) {
  .top-category__span-container-small {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .top-category__span-container-small span:first-child {
    margin-bottom: 5px;
  }
  .top-category__swiper-wrapper {
    padding-bottom: 100px;
  }
}

@media (max-width: 450px) {
  .top-category__top-container {
    margin-bottom: 78px;
  }
  .top-category__grid-container {
    gap: 32px 16px;
  }
  .top-category__item {
    padding: 16px;
    min-height: 331px;
  }
  .top-category__item-down, .top-category__item-up-small {
    min-height: 206px;
  }
  .top-category__span-container {
    margin-bottom: 0;
  }
  .top-category__span-container-small span {
    font-size: 10px;
    line-height: 10px;
  }
  .top-category__title {
    margin-bottom: 0;
  }
  .top-category__title-small {
    font-size: 16px;
    line-height: 16px;
  }
  .top-category__link {
    font-size: 12px;
  }
  .top-category__img {
    margin-left: -15px;
  }
  .top-category__swiper-wrapper {
    padding-bottom: 50px;
  }
}

@media (max-width: 320px) {
  .top-category__useful-nav {
    top: 538px;
    right: auto;
    left: 35%;
  }
}

.contacts {
  margin-bottom: 70px;
}

.contacts__header {
  margin-bottom: 10px;
}

.contacts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__left {
  width: 48%;
}

.contacts__right {
  width: 48%;
}

.contacts__desc {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 19px;
}

.contacts__desc-question {
  width: 14px;
  height: 14px;
  color: #FF862F;
}

.contacts__item {
  margin-bottom: 30px;
}

.contacts__input {
  padding-left: 18px;
  width: 100%;
  max-width: 624px;
  height: 54px;
  border-radius: 10px;
  border: 1px solid #F6F6F6;
  background-color: #F6F6F6;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.contacts__real-check {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.contacts__real-check:focus + .contacts__custom-check {
  background-color: #A65CF0;
  border: 1px solid #A65CF0;
}

.contacts__custom-check {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: #FFF;
  border: 1px solid #999;
  border-radius: 2px;
  margin-top: 5px;
  margin-right: 5px;
}

.contacts__custom-check::before {
  content: '';
  margin-top: 1px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url("../img/check.svg");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.contacts__real-check:checked + .contacts__custom-check {
  background-color: #A65CF0;
  border: 1px solid #A65CF0;
}

.contacts__real-check:checked + .contacts__custom-check::before {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.contacts__checkbox-span {
  text-decoration: underline;
  color: #A65CF0;
}

.contacts__btn-submit {
  margin-bottom: 7px;
}

.contacts__btn {
  padding: 14px 33px;
}

@media (min-width: 1024px) {
  .contacts__input:hover {
    background-color: #EAEAEA;
    border: 1px solid #EAEAEA;
  }
}

.contacts__input:focus {
  background-color: #F8EFFF;
  border: 1px solid #A65CF0;
  outline: none;
}

@media (max-width: 1024px) {
  .contacts__left {
    width: 40%;
  }
  .contacts__btn-submit {
    margin-bottom: 8px;
  }
}

@media (max-width: 768px) {
  .contacts__left {
    width: 60%;
  }
  .contacts__right {
    width: 30%;
  }
}

@media (max-width: 600px) {
  .contacts__left {
    width: 100%;
  }
  .contacts__right {
    display: none;
  }
}

@media (max-width: 600px) {
  .contacts {
    margin-bottom: 48px;
  }
  .contacts__desc {
    width: 100%;
  }
}

footer {
  background-color: #EAEAEA;
}

.footer-container {
  padding-top: 24px;
  padding-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__list:not(:last-child) {
  margin-right: 142px;
}

.footer__list-item {
  margin-bottom: 4px;
}

.footer__list-link {
  font-size: 14px;
  line-height: 14px;
  color: #999;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.footer__list-link--title {
  line-height: 16px;
  color: #333;
}

.footer__span {
  display: block;
  padding: 5px 0;
  text-align: center;
  font-size: 14px;
  line-height: 19px;
  color: #999;
  background-color: #F6F6F6;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__img-footer {
  margin-bottom: 25px;
}

.logo__svg-img {
  margin-right: 10px;
  color: #FF862F;
  width: 37px;
  height: 27px;
}

.logo__svg-text {
  color: #A65CF0;
  width: 140px;
  height: 17px;
}

.social__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 18px;
  max-width: 131px;
}

.social__list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__list-svg {
  width: 33px;
  height: 33px;
  padding: 3px;
}

.social__list-link svg {
  color: #999;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 1024px) {
  .social__list-link:hover svg {
    color: #A65CF0;
  }
  .footer__list-link:hover {
    color: #A65CF0;
  }
}

.social__list-link:active svg {
  color: #7033AC;
}

.social__list-link:focus-visible svg {
  color: #FFF;
  background-color: #C998FB;
}

.social__list-link:focus-visible {
  outline: none;
}

.footer__list-link:active {
  color: #7033AC;
}

.footer__list-link:focus-visible {
  color: #A65CF0;
  background-color: #EBD1FF;
  outline: none;
}

@media (max-width: 1260px) {
  .footer__list:not(:last-child) {
    margin-right: 85px;
  }
}

@media (max-width: 1024px) {
  .footer__list:not(:last-child) {
    margin-right: 75px;
  }
}

@media (max-width: 768px) {
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__nav {
    margin-top: 25px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__list:not(:last-child) {
    margin-right: 0;
  }
  .logo {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-right: 0;
  }
  .logo__img-footer {
    margin-bottom: 0;
  }
}

@media (max-width: 704px) {
  .footer__list:not(:last-child) {
    margin-right: 10px;
  }
}

@media (max-width: 500px) {
  .footer__list {
    width: 50%;
    margin-bottom: 24px;
  }
  .footer__list:not(:last-child) {
    margin-right: 0;
  }
  .logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 0;
  }
  .logo__img {
    text-align: center;
    padding-bottom: 28px;
  }
  .social__list {
    margin: 0 auto;
  }
}
/*# sourceMappingURL=style.css.map */